coding/py2exe/OLHWDB1.1tst.zip
coding/py2exe/OLHWDB1.1trn.zip
coding/py2exe/HWDB1.1tst.zip
coding/py2exe/HWDB1.1trn.zip
coding/py2exe/pyinstaller-pyup-scheduled-update-2019-03-01.zip
coding/py2exe
file/
coding/CPS-OCR-Engine/ocr/dataset
coding/CPS-OCR-Engine/ocr/checkpoint
coding/CPS-OCR-Engine/checkpoint
coding/CPS-OCR-Engine/.gitignore
coding/CPS-OCR-Engine/.gitattributes
coding/CPS-OCR-Engine/ocr/t
coding/CV/text-detection-ctpn-untagged/ctpn/data/cutimg
coding/checkpoint
coding/ic/license/codebook/img_re
coding/CPS-OCR-Engine/ocr/tssss
coding/CPS-OCR-Engine/ocr/tmp
coding/CV/text-detection-ctpn-untagged/ctpn/data/H
coding/CV/text-detection-ctpn-untagged/ctpn/data/O
coding/CV/text-detection-ctpn-untagged/data/demo
coding/CV/text-detection-ctpn-untagged/data/oriented_results
coding/CV/text-detection-ctpn-untagged/data/results
coding/faceinfo/dlib_shapedata/dlib_face_recognition_resnet_model_v1.dat
coding/CV/text-detection-ctpn-untagged/data/VOCdevkit2007
coding/CV/sceneReco-master/crnn/samples/netCRNNcpu.pth
coding/CV/sceneReco-master/crnn/samples/netCRNN63.pth
coding/CPS-OCR-Engine/ocr/log/train
coding/CPS-OCR-Engine/ocr/log/val
Coding/crnn_chinese_characters_rec-master/to_lmdb/360_train.txt